.DarkenedResponseContent {
  background-color: rgba(100, 144, 100, 0.81);
}
.DarkenedResponseContent * {
  padding-right: 4px !important;
  color: rgba(16, 196, 81, 0.81) !important;
}
.DarkenedResponseContent .json-formatter-key {
  color: rgba(9, 81, 16, 0.81) !important;
}
.DarkenedResponseContent .json-formatter-string {
  color: rgba(81, 196, 16, 0.81) !important;
}
