* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    // Variables:
    
    // Constant
    --white: rgba(251,252,253, .81);
    --black: rgba(0, 1, 2, .81);
    --grey: rgba(81,81,81, .81);

    // Definitive
    --outlines: var(--grey);
    --inlines: var(--white);
    
    // End of variables

    font-size: 16px;
    color: var(--white);
}

body {
    background-color: var(--black);

    /* Main values */

    & .GridValue {
        display: grid;
        grid-template-columns: 9% 16% 25% 36% 14%;
    }

    & .Grid4951 {
        display: grid;
        grid-template-columns: 49% 51%;
    }

    & .MatchingOutlines {
        padding: 16px;
        border-right: 1px dashed var(--outlines);
        border-bottom: 1px dashed var(--outlines);
        background-color: transparent;
    }

    & .MatchingInlines {
        border-radius: 4px;
        border: 1px solid var(--inlines);
        background-color: transparent;
    }

    /* • The query bar • */

    & .Querybar {

        & * {
            padding: 1%;
            width: 100%;
        }

        & button {
            border-top: 1px solid var(--white);
            border-bottom: 1px solid var(--white);
            border-left: none !important;
            border-right: none !important;
            height: 100%;
            background-color: rgba(81, 81, 81, .16) !important;
        }

        & #Wrapped_Endpoint {
            width: 625%;
            margin-left: 100%;
        }
    }

    /* End of the query bar */

    /* ^>v<v The content slider (experimental) v>v<^ */

    #Sign_Front {
        width: 100%;
    }

    /* • The footer • */

    footer {
        text-align: center;
    }
}
