<section class="Grid4951 MatchingOutlines">

	<div id="Operational_Content_Render" class="NaturalResponseContent">
		Test string
	</div>

	<div>
		<h2>Responses:</h2>
		<div id="Response_Content_Render" class="DarkenedResponseContent">
		</div>
	</div>

</section>