<header>
	<nav class="Querybar GridValue">
		<section id="Logo" class="MatchingOutlines">
			<span>Mode</span>
		</section>
		<section id="URL" class="MatchingOutlines">
			<input id="URL_Input" type="text" placeholder="URL" class="MatchingInlines"/>
		</section>
		<section id="Group" class="MatchingOutlines">
			<select name="GroupName" class="MatchingInlines">
				<option value="RestHTTPS">Rest HTTPS</option>
				<option value="RestHTTP">Rest HTTP</option>
			</select>
		</section>
		<section id="Query_Class" class="MatchingOutlines">
			<select name="QueryClassName" class="MatchingInlines">
				<option value="Get">Get</option>
				<option value="Post">Post</option>
				<option value="Put">Put</option>
				<option value="Delete">Delete</option>
			</select>
		</section>
		<section id="Inputs_Sender" class="MatchingOutlines">
			<button id="Querybar_Sender" class="MatchingInlines">Send</button>
		</section>
		<section id="Wrapped_Endpoint" class="MatchingOutlines">
			<input id="Endpoint_Input" type="Text" placeholder="Endpoint" class="MatchingInlines"/>
		</section>
	</nav>
</header>