main.ServicesBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(1, 2, 3, 0.81);
  margin-left: 3px;
  margin-right: 9px;
  margin-top: 4px;
  margin-bottom: 16px;
}

main.ServicesBar .TopServicesBarAlignment {
  position: relative;
  height: 100%;
  width: 100%;
}

main.ServicesBar .ToServicesBar {
  width: 81%;
  margin: 0 auto;
  height: 49px;
  background-color: var(--white);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 16% 25% 36% 23%;
      grid-template-columns: 16% 25% 36% 23%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper {
  height: 100%;
  width: 100%;
  padding: 4px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*
      * Section 1
      */
  /*
      * Section 2
      */
  /*
      * Section 3
      */
  /*
      * Section 4
      */
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .TopNavigatorLeft {
  width: 16%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .TopNavigatorLeft span.Logo {
  margin-left: -256%;
  font-weight: 600;
  color: #023809;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .TopNavigatorRight {
  width: 100%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .TopNavigationInserts {
  width: 100%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .TopNavigationInserts .TopNavigationInsert {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .TopNavigationInserts .TopNavigationInsert input.URLInput {
  width: 100%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .QueryTypes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .QueryTypes span.QueryType {
  width: 25%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .QueryTypes select#query_types {
  width: 100%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .RequestTypes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .RequestTypes span.RequestType {
  width: 36%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .RequestTypes select#request_types {
  width: 100%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .Endpoint {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .Endpoint span.EndpointText {
  width: 16%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .Endpoint pre {
  margin-left: 4%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .Endpoint input.EndpointInput {
  width: 81%;
}

main.ServicesBar .ToServicesBar .TopBarServiceWrapper .Endpoint button {
  width: 25%;
}
/*# sourceMappingURL=services_bar.css.map */