#Request-Responses {

    & #Response-Content-Render {
        overflow-wrap: break-word;
    }

    & .DarkenedResponseContent {

        background-color: rgba(100, 144, 100, .81);

        * {
            padding-right: 4px !important;
            color: rgba(16, 196, 81, .81) !important;
        }

        & .json-formatter-key {
            color: rgba(9, 81, 16, .81) !important;
        }

        & .json-formatter-string {
            color: rgba(81, 196, 16, .81) !important;
        }
    }
}
