@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --white: rgba(251,252,253, .81);
  --black: rgba(0, 1, 2, .81);
  --grey: rgba(81,81,81, .81);
  --outlines: var(--grey);
  --inlines: var(--white);
  font-size: 16px;
  color: var(--white);
}

body {
  background-color: var(--black);
  /* Main values */
  /* • The query bar • */
  /* End of the query bar */
  /* The feature lists */
  /* End of the feature lists */
  /* The function boxes */
  /* Endo fo the function boxes */
  /* • The footer • */
}
body .GridValue {
  display: grid;
  grid-template-columns: 9% 16% 25% 36% 14%;
}
body .Grid4951 {
  display: grid;
  grid-template-columns: 49% 51%;
}
body .MatchingOutlines {
  padding: 4%;
  border-radius: 4%;
  border-right: 1px dashed var(--outlines);
  border-bottom: 1px dashed var(--outlines);
  background-color: transparent;
}
body .MatchingInlines {
  padding: 1%;
  border-radius: 1%;
  border: 1px solid var(--inlines);
  background-color: transparent;
}
body .Querybar * {
  padding: 1%;
  width: 100%;
}
body .Querybar .Blue {
  color: rgba(81, 100, 121, 0.81);
}
body .Querybar button {
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  border-left: none !important;
  border-right: none !important;
  height: 100%;
  background-color: rgba(81, 81, 81, 0.16) !important;
}
body .Querybar #Wrapped-Endpoint {
  width: 625%;
  margin-left: 100%;
}
body #Logo {
  width: 100%;
}
body #ParameterBox {
  height: 256%;
  margin-left: 16%;
  margin-right: 12%;
}
body #ParameterBox textarea {
  height: 100%;
  width: 100%;
  background: #515151;
  resize: none;
}
body #Default-Buttons-Nav-Container {
  margin-top: 4%;
}
body #Home-Navigator, body #Updates-Navigator, body #Send-Navigator {
  padding: 1%;
}
body #Home-Navigator:hover, body #Updates-Navigator:hover, body #Send-Navigator:hover {
  cursor: pointer;
}
body #Operational-Content-Render select {
  overflow: hidden;
  width: 25%;
}
body #Operational-Content-Render select option:checked {
  background: var(--grey);
  color: var(--white);
}
body footer {
  text-align: center;
}
body button {
  border-radius: 16% !important;
}
body ::selection {
  background: var(--grey);
  color: var(--white);
}
