<section class="GridValue MatchingOutlines">
	<div></div>
	<div></div>
	<img id="Logo" src="./images/AUM outer layer logo.png">
</section>

<section class="Grid4951 MatchingOutlines">

	<div id="Operational-Content-Render" class="NaturalResponseContent">
		Test string
	</div>

	<div id="Request-Responses">
		<h2>Output:</h2>
		<div id="Response-Content-Render" class="DarkenedResponseContent">
		</div>
	</div>

</section>