<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] • AUMRestful</title>
	<link rel="stylesheet" href="~/css/Default Layout.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Content Rendering.css" asp-append-version="true" />
</head>
<body>
	<main role="main">

		@RenderBody()

	</main>

	<footer>
		<section class="MatchingOutlines">
			&copy; 2022 - aumrestful.com
		</section>
	</footer>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
