<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] • AUMRestful</title>
	<link rel="stylesheet" href="~/css/Default Layout.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Content Rendering.css" asp-append-version="true" />
</head>
<body>
	<!--Due to query-ability, needs to utilize partials to determine headers. Not yet implemented-->
	<div class="container">
		<main role="main">

			@{
				await Html.RenderPartialAsync("_ModeBar");
			}

			<section class="GridValue MatchingOutlines">
				<div></div>
				<div></div>
				<img id="Logo" src="./images/AUM outer layer logo.png">
			</section>

			@RenderBody()

			@{
				await Html.RenderPartialAsync("_ContentRendering");
			}

		</main>
	</div>

	<footer>
		<section class="MatchingOutlines">
			&copy; 2022 - aumrestful.com
		</section>
	</footer>
	<script type="module" src="~/js/Bar Main.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
