<section class="Querybar GridValue MatchingOutlines">

	<div id="Logo">
		<span class="Blue">Mode:</span><span>Restful</span>
	</div>
	<div id="URL">
		<input id="URL-Input" type="text" placeholder="URL" class="MatchingInlines"/>
	</div>
	<div id="Group">
		<select name="Group" class="MatchingInlines">
			<option value="RestHTTPS">Rest HTTPS</option>
			<option value="RestHTTP">Rest HTTP</option>
		</select>
	</div>
	<div id="Query-Class">
		<select name="Query_Class" class="MatchingInlines">
			<option value="Get">Get</option>
			<option value="Post">Post</option>
			<option value="Put">Put</option>
			<option value="Delete">Delete</option>
		</select>
	</div>
	<div id="Input-History">
		<select name="URL_History" class="MatchingInlines">
			<option value="" disabled selected>History</option>
			<option value="" disabled>Empty</option>
		</select>
	</div>
	<div id="Wrapped-Endpoint">
		<input id="Endpoint-Input" type="Text" placeholder="Endpoint" class="MatchingInlines"/>
	</div>

</section>

<section class="Artwork GridValue MatchingOutlines">

	<div></div>
	<img id="Logo" src="./images/AUM outer layer logo.png">
	<div id ="ParameterBox">
		<textarea class="MatchingInlines">{"Site": "aumrestful.com"}</textarea>
	</div>
	<div class="BaffleContainer">
		<nav>
			<div id="Default-Buttons-Nav-Container">
				<span id="Default-Home-Button-Left">_ _ _ _ _ _ _ _</span>
				<button id="Home-Navigator" class="MatchingInlines">Home</button>
			</div>
			<div id="Default-Buttons-Nav-Container">
				<span id="Default-Updates-Button-Left">_ _ _ _ _ _ _ _</span>
				<button id="Updates-Navigator" class="MatchingInlines">Updates</button>
			</div>			
			<div id="Default-Buttons-Nav-Container">
				<span id="Default-Send-Button-Left">_ _ _ _ _ _ _ _</span>
				<button id="Send-Navigator" class="MatchingInlines">Send</button>
			</div>
		</nav>
	</div>

</section>

<section class="FunctionBox Grid4951 MatchingOutlines">

	<div id="Operational-Content-Render" class="NaturalResponseContent">
		<h3>Input:</h3>
		<select name="Query_Builder_Types" size="2" class="MatchingInlines">
			<option value="" selected>Use JSON</option>
			<option value="">Use variables</option>
		</select>
	</div>

	<div id="Request-Responses">
		<h4>Output:</h4>
		<div id="Response-Content-Render" class="DarkenedResponseContent"></div>
	</div>

</section>

<script type="module" src="~/js/Mode Bar.js" asp-append-version="true"></script>