@{
	ViewData["Title"] = "Home Page";
}

<header>
	<nav class="QueryBar GridValue">
		<section id="Logo" class="MatchingOutlines">
			<span>Restline</span>
		</section>
		<section id="URL" class="MatchingOutlines">
			<input type="text" placeholder="URL" class="MatchingInlines"/>
		</section>
		<section id="Group" class="MatchingOutlines">
			<select name="GroupName" class="MatchingInlines">
				<option value="RestHTTPS">Rest HTTPS</option>
				<option value="RestHTTP">Rest HTTP</option>
			</select>
		</section>
		<section id="QueryClass" class="MatchingOutlines">
			<select name="QueryClassName" class="MatchingInlines">
				<option value="Get">Get</option>
				<option value="Post">Post</option>
				<option value="Put">Put</option>
				<option value="Delete">Delete</option>
			</select>
		</section>
		<section id="InputsSender" class="MatchingOutlines">
			<button id="QueryBarSender" class="MatchingInlines">Send</button>
		</section>
		<section id="WrappedEndpoint" class="MatchingOutlines">
			<input type="Text" placeholder="Endpoint" class="MatchingInlines"/>
		</section>
	</nav>
</header>